@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500;
  margin: 0;
  padding: 0;
}


.auth-container {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M0%2c439.736C84.783%2c432.68%2c169.904%2c421.73%2c241.912%2c376.422C314.333%2c330.854%2c380.623%2c266.968%2c404.951%2c184.935C428.233%2c106.427%2c391.928%2c25.601%2c369.29%2c-53.096C349.531%2c-121.784%2c315.332%2c-180.985%2c281.569%2c-243.981C237.476%2c-326.25%2c228.591%2c-447.804%2c140.78%2c-479.451C54.126%2c-510.681%2c-27.801%2c-420.257%2c-113.44%2c-386.343C-189.938%2c-356.049%2c-271.97%2c-342.961%2c-335.6%2c-290.799C-407.312%2c-232.012%2c-483.537%2c-163.201%2c-497.475%2c-71.526C-511.433%2c20.284%2c-447.328%2c102.199%2c-408.151%2c186.396C-369.27%2c269.956%2c-347.556%2c370.358%2c-269.251%2c418.962C-191.188%2c467.416%2c-91.561%2c447.356%2c0%2c439.736' fill='%230b2239'%3e%3c/path%3e%3cpath d='M1440 870.933C1501.573 859.704 1563.07 864.502 1621.819 842.9159999999999 1693.545 816.562 1782.808 800.495 1817.292 732.304 1851.73 664.204 1802.781 584.92 1790.363 509.625 1778.248 436.166 1789.272 355.541 1745.252 295.498 1700.033 233.82 1626.385 194.16000000000003 1550.755 182.80200000000002 1479.2 172.05599999999998 1412.549 210.27800000000002 1344.671 235.339 1281.512 258.658 1220.535 282.266 1167.843 324.175 1105.82 373.505 1014.119 419.44 1013.5609999999999 498.687 1012.985 580.555 1130.584 611.307 1165.3 685.452 1199.466 758.423 1143.128 872.948 1209.904 918.0360000000001 1276.129 962.752 1361.389 885.269 1440 870.933' fill='%23113255'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
}

.cl-internal-b3fm6y {
   display: none !important;
}
.cl-card{
  border-radius: 5px;
}

.cl-formButtonPrimary{
  background-color: #0B2239;
  color: #fff;
}


.cl-cardBox {
  box-shadow: none !important;
  border: none !important;
  border-radius: 2px !important;
}

.global-spinner .ant-spin-dot-item {
  background-color: #000000 !important;
}

.sidebar-spinner .ant-spin-dot-item {
  background-color: #ffffff !important;
}

.ant-drawer-content {
  background-color: #202222 !important;
}
.anticon-close {
  color: black !important;
}

.markdown > * {
  all: revert;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #4b4b4b;
}

::-webkit-scrollbar-thumb {
  background: #818181;
}
